html, body {
    height: 100%;
    background: url('../img/norwegian_rose.png');
}

.wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5) inset;
}

.wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}

.content {
  text-align: center;
  width: 800px;
  margin: 0 auto;
}
h1 {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: 'Crimson Text', serif;
  font-size: 3.5em;
  text-shadow: 0px 1px 1px #7A7A7A;
  margin-bottom: 60px;
}

h1 span.welcome {
  font-style: italic;
}

h1 span.name {
  color: #C01010;
  font-size: 1.2em;
}

p {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Contact */
.contact {
  position: absolute;
  bottom: 5px;
  right: 25px;
  color: rgba(0, 0, 0, 0.3);
}

.contact a {
  color: rgba(0, 0, 0, 0.3);
font-weight: bold;
}
